* {
    font-family: 'Indie Flower', cursive;
    font-size: 1.05em;
    text-decoration: none;
    margin: 0;
	padding: 0;
	border: 0;
}


#email_value{
    display: none;
}

.main_area {
    height: calc(100vh);
    width: 100%;
    background-image: url("resources/menu_nav_background_img.jpg");
    background-size: cover;
    display: block;
}

#habilidades {
    min-height: calc(70vh);
    height: fit-content;
    width: 100%;
    margin-bottom: 100px;
}

.menu_nav {
    height: 70px;
    background-color: transparent;
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 3em 1.5em;
}

.container_top{
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    padding-top: 40px;
    padding-right: 40px;
}

.listagem_navegacao {
    display: flex;
    flex-wrap: wrap;
}

.listagem_navegacao a li {
    color: white;
}

.nav_item {
    padding: 10px 15px 10px 15px;
}

.nav_item:hover{
    border-bottom: solid 2px rgb(55, 132, 233) ;
    font-size: 1.15em;
    padding-top: 0%;
}

.linkedin:hover, .fa-linkedin:hover{
    color: #0A63BC;
}

.linkedin:hover{
    border-bottom: solid 2px #0A63BC ;
}

.github:hover, .fa-github:hover{
    color: #7C007C;
}

.github:hover {
    border-bottom: solid 2px #7C007C ;
}

.email:hover, .fa-envelope:hover{
    color: #EE7F69;
}

.email:hover {
    border-bottom: solid 2px #EE7F69 ;
}

ul, li {
    text-decoration: none;
    list-style-type: none;
}

.habilidades_title h1 {
    color: #000;
    font-weight: bold;
    font-size: 2.1em;
    padding-bottom: 30px;
    font-family: 'Encode Sans SC', sans-serif;
    margin: 0 auto;
}

.habilidades_title {
    margin: 0 auto;
}

.container_habilidades{
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    padding-top: 60px;
}

.habilidades_content {
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.habilidades_item {
    max-width: 210px;
    min-width: 170px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.habilidades_item p {
    margin: 15px;
    color: #000;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}


.habilidades_item img {
    width: 150px;
    height: 130px;
    margin: 1em 0px 1em 0px;
    padding-bottom: 30px;
}

.html {
    border-bottom: 5px solid #EF662A;
    margin-bottom: 30px;
}

.css {
    border-bottom: 5px solid #264DE4;
    margin-bottom: 30px;
}

.javascript {
    border-bottom: 5px solid #E4A126;
    margin-bottom: 30px;
}

.react {
    border-bottom: 5px solid #00D8FF;
    margin-bottom: 30px;
}

.vue {
    border-bottom: 5px solid #41B883;
    margin-bottom: 30px;
}

#typed {
    margin: 0 auto;
    color: #000;
    font-size: 2em;
    margin-top: 50px;
    overflow: auto;
    min-height: 2.4em;
}

#footer{
    height: calc(50vh);
    width: 100%;
    background-size: cover;
    display: block;
}

.back {
    background-image: url("resources/wave.svg");
    display: block;
    height: 100%;
    height: 100%;
}

blue{
    color: rgb(0, 0, 117);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}

red {
    font-size: 1.5em;
    color: rgb(133, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}

green {
    color: rgb(5, 88, 9);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.typed-cursor {
    display: none;
}

html {
    scroll-behavior: smooth;
}

#curriculo {
    border-top: 1px solid #000;
    margin: 0 auto;
    max-width: 1600px;
    max-height: calc(80vh);
    min-height: calc(60vh);
}

.container_curriculo{
    display: flex;
    flex: 1 1 2;
    margin: 0 auto;
}

.foto_leftside {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
}

.foto_leftside img{
    max-width: 20em;
    width: 100%;
    max-height: 20em;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.curriculo_content{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
}

.curriculo_content h1{
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0px 50px 0px 50px;
}